<div class="container">

	<div class="row">
		<div class="col-sm-12">
			<div class="page-header">
			  <h1>Meetups list <small>past meetups, incoming meetups</small></h1>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="list-group">
				<a ng-repeat="meetup in vm.meetups"
				   ng-href="#/meetups/{{meetup.date}}" 
				   ng-class="{active: meetup === vm.currentMeetup}"
				   class="list-group-item" >
					<h4 class="list-group-item-heading">{{meetup.due_on | date}}, {{meetup.title}}</h4>
					<p class="list-group-item-text">
						<span ng-repeat="talk in meetup.talks">
							{{talk.title}}
							<span ng-if="!$last">, </span>
						</span>
					</p>
				</a>
			</div>
		</div>
	</div>

</div>